.card-item:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.card-item {
  width: 400px;
  height: 530px;
}

.card-content {
  margin: 8px 0px 0px 0px;
  height: 220px;
  &__title {
    font-size: 24px;
  }
  &__summary {
    padding: 20px 0px 0px 0px;
  }
}

.link {
  margin: 0px 0px 0px 16px;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  &__title {
    color: #000;
    font-weight: 600;
    margin: 0px 5px 0px 0px;
  }
}
