.card-item:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.card-item:not(:nth-child(3n)) {
  margin: 0px 45px 0px 0px;
}

.card-item {
  width: 400px;
  height: 530px;
}

.card-content {
  margin: 8px 0px 0px 0px;
  height: 220px;
  &__title {
    font-size: 24px;
  }
  &__summary {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 1288px) {
  .card-item {
    margin: 0px 45px 45px 0px !important;
  }
}

@media (max-width: 800px) {
  .card-item {
    margin: 0px 0px 45px 0px !important;
  }
}
