.detailed-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  &__photo {
    width: 100%;
    height: 245px;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
}

.article {
  &__button {
    padding: 30px 0px 45px 45px !important;
  }
}
