.results-block {
  &__results-length {
    width: 100%;
    p {
      tab-size: 16px;
      font-weight: 600;
      line-height: 120%;
      padding: 0px 0px 5px 0px;
    }
    border-bottom: 1px solid #eaeaea;
  }
  &__results-items {
    margin: 45px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
