@import './reset';

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1290px;
  margin: 0px auto;
  box-sizing: content-box;
}

@media screen and (max-width: 1288px) {
  ._container {
    max-width: 95vw;
    margin: 0px 10px;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 767px) {
  ._container {
    max-width: 95vw;
    margin: 0px 10px;
    box-sizing: content-box;
  }
}
